.header{
    background-image: url("../images/logo.jpg");
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.144), rgba(216, 32, 32, 0.192)),
    url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}